<!DOCTYPE html>
<script src="scripts/angular.min.js"></script>
<script src="app.js"></script><html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <div>
        <form name="myform">
            User Name: <input type="text" name="userEmail" ng-model="userEmail" placeholder="Enter User Email" required><br>
            <p><span ng-show="myform.userEmail.$error.required">Please enter user email</span></p>
            Password: <input type="text" name="password" ng-model="password" placeholder="Enter Password" required><br>
            <p><span ng-show="myform.password.$error.required">Please enter password</span></p>
            <br>
        </form>

        <button ng-click="login()">Login!</button>
        </div>
    <div>
        <label>{{loginMessage}}</label>
    </div>
  
    <script src="../../app.js"></script>
    <script src="../user.controller.js"></script>
</body>
</html>
